<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" th:with="title=${#messages.msg('index.title')}">
<body>
<th:block layout:fragment="body">

    <div th:if="${user==null}">
        <p th:text="#{index.body.annon}">text about anonymous user</p>
        <p><a th:href="@{/login}" th:text="#{index.body.login}">Generated list of login choices</a></p>
        <p><form method="post" th:action="@{/oauth2/authorization/muni}"><button class="btn btn-outline-primary" type="submit">Login MUNI</button></form>
    </div>


    <div th:if="${user}">
        <th:block th:if="${issuerName=='MUNI'}">
            <p th:text="#{index.body.authuser.link.announcement}">text for muni</p>
            <a th:href="@{/accesstoken}" th:text="#{index.body.authuser.link.text}">link</a>
        </th:block>
        <p><form method="post" th:action="@{/logout}"><button class="btn btn-outline-primary" type="submit">Logout</button></form></p>
    </div>


</th:block>
</body>
</html>