<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" th:with="title=${#messages.msg('mycalendar.title')}">
<body>
<th:block layout:fragment="body">

    <div class="alert alert-info" role="alert">
        <br><th:block th:text="${scopes}"></th:block>
        <br><form method="post" th:action="@{/logout}">
              <button class="btn btn-outline-primary" type="submit">Logout</button>
            </form>
    </div>

</th:block>
</body>
</html>